:root {
    /* German Palette */
    --fusion-red: rgba(252, 92, 101, 0.1);
    --orange-hibiscus: rgba(253, 150, 68, 1);
    --flitatious: rgba(254, 211, 48, 0.1);
    --reptile-green: rgba(38, 222, 129, 1);
    --maximum-blue-green: rgba(43, 203, 186, 0.1);
    --desire: rgba(235, 59, 90, 0.1);
    --benniukon-bronze: rgba(250, 130, 49, 1);
    --nyc-taxi: rgba(247, 183, 49, 0.1);
    --algal-fuel: #20bf6b;
    --turqoise-topaz: rgba(15, 185, 177, 1);
    --high-blue: rgba(69, 170, 242, 0.1);
    --c64-ntsc: #4b7bec;
    --lighter-purple: #a55eea;
    --twinkle-blue: #d1d8e0;
    --blue-grey: #778ca3;
    --boyzone: #2d98da;
    --royal-blue: #3867d6;
    --gloomy-purple: #8854d0;
    --innuendo: #a5b1c2;
    --blue-horizon: #4b6584;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#piano {
    height: 290px;
    padding: 90px 30px 0 30px;
    background-color: #FC8989;
    border-radius: 10px;
}

.key {
    position: relative;
}

.white-keys {
    display: flex;
}

.black-keys {
    position: relative;
    display: flex;
}

.white-key {
    width: 68px;
    height: 280px;
    background-color: #FFF;
    border-radius: 0 0 5px 5px;
    border: solid #000 2px;
    box-sizing: border-box;
}

.black-key {
    z-index: 10;
    width: 38px;
    height: 160px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: absolute;
    background-color: #000;
}

.black-key:nth-child(1) {
    left: 48px;
}

.black-key:nth-child(2) {
    left: 117px;
}

.black-key:nth-child(3) {
    left: 253px;
}

.black-key:nth-child(4) {
    left: 320px;
}

.black-key:nth-child(5) {
    left: 389px;
}

.black-key:nth-child(6) {
    left: 525px;
}

.black-key:nth-child(7) {
    left: 594px;
}

.black-key:nth-child(1) {
    left: 48px;
}

.black-key:nth-child(8) {
    left: 662px;
}

.black-key:nth-child(9) {
    left: 797px;
}

.black-key:nth-child(10) {
    left: 865px;
}

.white-key-note {
    position: absolute;
    bottom: 5px;
    left: 25px;
    font-weight: 550;
}

.black-key-note {
    position: absolute;
    top: 0;
    left: 11px;
    color: #FFF;
    font-weight: 500;
}

.do:hover {
    background-color: var(--fusion-red);
}

.doSharp:hover {
    background-color: var(--orange-hibiscus);
}

.re:hover {
    background-color: var(--flitatious);
}

.reSharp:hover {
    background-color: var(--reptile-green);

}

.mi:hover {
    background-color: var(--maximum-blue-green);
}

.fa:hover {
    background-color: var(--desire);
}

.faSharp:hover {
    background-color: var(--benniukon-bronze);
}

.sol:hover {
    background-color: var(--nyc-taxi);
}

.solSharp:hover {
    background-color: var(--algal-fuel);
}

.la:hover {
    background-color: var(--algal-fuel);
}

.laSharp:hover {
    background-color: var(--turqoise-topaz);
}

.si:hover {
    background-color: var(--high-blue);
}
