/*
Azul -> is-link
Rosa -> is-danger

Circle: <i class="ph-circle note"></i>
*/

:root {
    --preto: rgba(52, 58, 64, 1);
}

body {
    position: relative;
}

.notification-box {
    position: absolute;
    display: flex;
    width: 90%;
    top: 10%;
    justify-content: center;
    z-index: 100;
}

.game-over {
    position: absolute;
    display: flex;
    width: 90%;
    top: 20%;
    justify-content: center;
    z-index: 200;
}

#titulo1, #titulo2, #titulo3 {
    color: var(--preto);
}

.staff-container {
    position: relative;
}

.staff-container .note {
    height: 30px;
    width: auto;
}

.note {
    position: absolute;
}

.butoes {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao {
    display: flex;
    gap: 4px;
}