/*
Azul -> is-link
Rosa -> is-danger
*/

:root {
    --preto: rgba(52, 58, 64, 1);
}

#titulo1, #titulo2, #titulo3 {
    color: var(--preto);
}

.butoes {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao {
    display: flex;
    gap: 4px;
}